body {
  color: black;
}

.main-wrap {
  background: rgb(246, 246, 239);
  max-width: 1280px;
  margin: 0 auto;
}

.toolbar-wrap {
  background: #ff6600;
  height: 30px;
  padding: 0 10px;
  margin-top: 10px;
}

#toolbar {
  display: flex;
}

#toolbar a:visited,
#toolbar a {
  color: black;
  line-height: 30px;
}

#toolbar a.active {
  color: white;
}

.toolbar-left {
  width: 50%;
  text-align: left;
}

.toolbar-right {
  width: 50%;
  text-align: right;
}

#app {
  padding: 10px 0;
}